* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Regular";
  src: url(../font/DMSans-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.ttf);
}
html {
  scroll-behavior: smooth;
  max-width: 1440px;
  background-color: #10151C;
  padding-left: 147px;
  padding-right: 147px;
  color: #FFFFFF;
}

header div {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header button {
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 100px;
}
header button a {
  color: #FFFFFF;
  display: flex;
  text-decoration: none;
  font-family: "Regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px 24px 10px 24px;
}

.layout_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 180px;
  gap: 60px;
}
.layout_1 .text {
  display: block;
  flex-wrap: wrap;
  justify-content: start;
}
.layout_1 .text h1 {
  font-family: "Regular";
  font-size: 48px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0em;
  padding-bottom: 50px;
}
.layout_1 .text button {
  background-color: #FA0369;
  border-radius: 100px;
}
.layout_1 .text button a {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Regular";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  padding: 16px 48px 16px 48px;
  gap: 10px;
}
.layout_1 .text p {
  padding-top: 10px;
  padding-left: 30px;
  color: #7E8597;
  font-family: "Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}
.layout_1 .visual {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 560px;
  background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
  border-radius: 24px;
}
.layout_1 .visual img {
  max-height: 650px;
  padding-left: 90px;
  padding-right: 90px;
}

.layout_2 {
  gap: 50px;
  padding-bottom: 180px;
}
.layout_2 .brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.layout_3 {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layout_3 h5 {
  color: #FA0369;
  font-family: "Regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.400000006px;
  text-align: center;
  padding-bottom: 20px;
}
.layout_3 h2 {
  font-family: "Regular";
  font-size: 42px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 60px;
}
.layout_3 .steps {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.layout_3 .steps .block {
  background-color: #141A25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.layout_3 .steps .block img {
  padding: 55px 110px 40px 110px;
}
.layout_3 .steps .block .bourder {
  background-color: #FA0369;
  border-radius: 100px;
}
.layout_3 .steps .block .bourder p {
  font-family: "Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px 14px 5px 14px;
  color: #FFFFFF;
}
.layout_3 .steps .block p {
  font-family: "Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #7E8597;
  padding: 15px 60px 30px 60px;
}

.layout_4 {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
}
.layout_4 h1 {
  font-family: "Regular";
  font-size: 42px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
}
.layout_4 .layout_4_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
  padding-top: 135px;
}
.layout_4 .layout_4_wrap .text {
  display: block;
  flex-wrap: wrap;
  justify-content: start;
}
.layout_4 .layout_4_wrap .text h2 {
  font-family: "Regular";
  font-size: 36px;
  font-weight: 500;
  line-height: 46.87px;
  letter-spacing: 0em;
  padding-bottom: 15px;
}
.layout_4 .layout_4_wrap .text p {
  color: #7E8597;
  font-family: "Regular";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 50px;
}
.layout_4 .layout_4_wrap .text button {
  background-color: #FA0369;
  border-radius: 100px;
}
.layout_4 .layout_4_wrap .text button a {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Regular";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  padding: 16px 48px 16px 48px;
  gap: 10px;
}
.layout_4 .layout_4_wrap .visual {
  display: flex;
  align-items: center;
  max-height: 530px;
  background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
  border-radius: 24px;
}
.layout_4 .layout_4_wrap .visual img {
  padding: 0px 90px 0px 90px;
}

.layout_5 {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout_5 .text {
  max-width: 460px;
}
.layout_5 .text h2 {
  font-family: "Regular";
  font-size: 42px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 15px;
}
.layout_5 .text p {
  font-family: "Regular";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #7E8597;
  padding-bottom: 40px;
}
.layout_5 .text .icons {
  display: flex;
  justify-content: space-between;
}
.layout_5 .text .icons div img {
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 12px;
}
.layout_5 .text .icons div p {
  padding-top: 15px;
  padding-bottom: 50px;
  background-color: none;
  font-family: "Regular";
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.layout_5 .text button {
  background-color: #FA0369;
  border-radius: 100px;
}
.layout_5 .text button a {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Regular";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  padding: 16px 48px 16px 48px;
  gap: 10px;
}
.layout_5 .visual {
  display: flex;
  align-items: center;
  position: static;
  max-height: 530px;
  background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
  border-radius: 24px;
}
.layout_5 .visual img {
  padding: 0px 90px 0px 90px;
  background: url(../img/back1.png) no-repeat 60% 60%, url(../img/back2.png) no-repeat 75% 75%;
}

.layout_6 {
  padding: 200px 0 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout_6 .visual {
  display: flex;
  align-items: center;
  position: static;
  max-height: 530px;
  background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
  border-radius: 100%;
}
.layout_6 .visual img {
  padding: 0px 85px 0px 85px;
  background: url(../img/back3.png) no-repeat 65% 65%, url(../img/back4.png) no-repeat 75% 75%;
}
.layout_6 .text {
  display: block;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 460px;
}
.layout_6 .text h2 {
  font-family: "Regular";
  font-size: 36px;
  font-weight: 500;
  line-height: 46.87px;
  letter-spacing: 0em;
  padding-bottom: 15px;
}
.layout_6 .text p {
  color: #7E8597;
  font-family: "Regular";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 50px;
}
.layout_6 .text button {
  background-color: #FA0369;
  border-radius: 100px;
}
.layout_6 .text button a {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Regular";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  padding: 16px 48px 16px 48px;
  gap: 10px;
}

.layout_7 {
  padding-top: 180px;
  padding-bottom: 90px;
  margin: 0 -147px -60px -147px;
  background-color: #FFFFFF;
}
.layout_7 .wrapper {
  margin: 0 147px 0 147px;
  display: flex;
  justify-content: space-between;
  background-color: #141A25;
  border-radius: 25px;
}
.layout_7 .wrapper .text {
  padding-left: 130px;
  display: block;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 460px;
  padding-bottom: 60px;
}
.layout_7 .wrapper .text h2 {
  padding-top: 60px;
  font-family: "Regular";
  font-size: 42px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}
.layout_7 .wrapper .text p {
  padding-top: 25px;
  color: #7E8597;
  font-family: "Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 40px;
}
.layout_7 .wrapper .text button {
  background-color: #FA0369;
  border-radius: 100px;
  min-width: max-content;
}
.layout_7 .wrapper .text button div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 48px 16px 48px;
}
.layout_7 .wrapper .text button div a {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Regular";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.layout_7 .wrapper .visual {
  display: flex;
  align-items: end;
  position: relative;
  max-height: max-content;
  margin-top: -90px;
  padding-right: 110px;
}

.layout_8 {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 -147px -60px -147px;
  background-color: #FFFFFF;
}
.layout_8 .wrapper {
  margin: 0 147px 0 147px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout_8 .wrapper .text {
  display: block;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 460px;
}
.layout_8 .wrapper .text h2 {
  font-family: "Regular";
  font-size: 42px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: #1A1A1A;
}
.layout_8 .wrapper .text p {
  font-family: "Regular";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #7E8597;
}

footer {
  border-top: 1px solid #7E8597;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 -147px -60px -147px;
  background-color: #FFFFFF;
}
footer .wrapper {
  margin: 0 147px 0 147px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .wrapper p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(26, 26, 26, 0.5607843137);
}
footer .wrapper ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/*# sourceMappingURL=index.css.map */
